version: 2.1

jobs:
  build:
    docker:
      - image: cimg/base:current
    
    steps:
      - checkout
      - run: 
          command: "echo hello world"

workflows:
  myworkflow:
    jobs:
      - build